<!DOCTYPE html>
<html lang="en">
<%= render "/partials/head" %>
<body>
<div id="wrapper">
  <%= render "/partials/header" %>
  <main role="main" class="grid-container">
    <%= yield %>
  </main>
</div>
<%= render "/partials/footer" %>
<%= render "/partials/javascripts" %>
</body>
</html>